<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head th:fragment="headCust">
	<meta charset="UTF-8">
	<meeta http-equiv="x-ua-compatible" content="ie-edge" />
	<meeta name="viewport" content="width=device=width, intial-scalee1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title> Users</title>
</head>

<body>
	<h3>users</h3>
	<div>
		<a href="/index.html">Home</a>
	</div>
	<table class="tabl table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${userList}">
				<th scope="row" th:text="${user.id}"></th>
				<th scope="row" th:text="${user.name}"></th>
				<th scope="row" th:text="${user.emailsss}"></th>

</body>

</html>